@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nên đặt tên riêng để tránh conflict với tailwind component */

.menu-expanded {
  @apply absolute top-10 z-50 w-full bg-white text-center rounded-sm shadow-md border border-gray-100
                    animate-slideDown;
}

.ct-nav-item {
  @apply cursor-pointer py-1 hover:text-gray-800 transition-all duration-300 ease-in-out relative 
                        after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 after:lg:hover:w-full 
                        after:lg:transition-all after:lg:duration-300 after:lg:ease-in-out after:lg:rounded-full;
}

.ct-nav-item-active {
  @apply text-gray-800;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply rounded-full text-white text-center font-bold text-xs px-1;
}

.sub-headline {
  @apply flex justify-center items-center mb-24 text-center;
}

.sub-headline-deco {
  @apply w-8 h-px bg-coffee-200;
}

.sub-headline-title {
  @apply uppercase mx-4 font-medium text-xs text-gray-500 tracking-wider;
}

.ct-button {
  @apply text-center uppercase tracking-wider py-4 px-8 text-[13px] font-semibold cursor-pointer hover:bg-opacity-90;
}
